<a href="/home">Home</a>
{{#if merchant}}
  <span>&gt;</span>
  <div>
    <p>MERCHANT {{#if ported}}<span>Ported</span>{{/if}}</p>
    <a href="/merchant?id={{merchantId}}">{{merchant}}</a>
  </div>
{{/if}}
{{#if campaign}}
  <span>&gt;</span>
  <div>
    <p>CAMPAIGN</p>
    <a href="/campaign?id={{campaignId}}">{{campaign}}</a>
  </div>
{{/if}}
{{#if budget}}
  <span>&gt;</span>
  <div>
    <p>BUDGET</p>
    {{budget}}
  </div>
{{/if}}
